
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.search-container,
.sorting-container {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
}
.search-container:after,
.sorting-container:after {
    content: "";
    display: table;
    clear: both;
}
input[type=text],
button,
select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}
button {
    background-color: #5CACEE;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #5599FF;
}
.total-count {
    float: left;
}
.sorting-select {
    float: right;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #eee;
}
.no-result {
    text-align: center;
    padding: 20px;
}

.pagination-container {
    text-align: center; /* 페이지네이션을 가운데로 정렬 */
    margin-top: 20px; /* 상단 여백 추가 */
}

.pagination-container button {
    padding: 10px 15px; /* 버튼 내부 패딩을 크게 설정 */
    margin: 0 5px; /* 버튼 사이의 여백 설정 */
    font-size: 16px; /* 글자 크기 설정 */
    background-color: #f4f4f4; /* 버튼 배경 색상 설정 */
    border: 1px solid #ddd; /* 버튼 테두리 설정 */
    cursor: pointer; /* 커서를 손가락 모양으로 설정 */
    color : darkkhaki;
}

.pagination-container button:hover {
    background-color: bisque; /* 호버 시 버튼 배경 색상 변경 */
}

.pagination-container button[disabled] {
    color: #aaa; /* 비활성화된 버튼의 글자 색상 설정 */
    cursor: default; /* 비활성화된 버튼의 커서를 기본 모양으로 설정 */
}

/* 추가된 CSS 스타일 */
h1 {
    text-align: center; /* 제목 가운데 정렬 */
}

.search-container button {
    margin-right: 20px;
    padding: 10px 20px; /* 버튼 패딩 조정 */
    font-size: 1rem; /* 버튼 글자 크기 조정 */
}

/* 검색 버튼과 초기화 버튼을 왼쪽으로 정렬하기 위한 클래스 추가 */
.button-container {
    text-align: right;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.box-office-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.box-office-button:hover {
    background-color: #45a049;
}

.login-button {
    padding: 10px 20px;
    background-color: #0779e4;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover{
    background-color: #5CACEE;
}

.company-link {
    color: green; /* 원하는 색상으로 변경 */
    text-decoration: underline; /* 필요에 따라 꾸밈 */
    margin-bottom: 5px; /* 각 항목 사이에 간격을 추가 */
    cursor: pointer;
}
.company-link:hover {
    color: darkgreen; /* 호버 시 색상 변경 */
}
.company-list {
    display: flex;
    flex-direction: column; /* 세로 방향으로 나열 */
}

<!-- 로그인 팝업 -->

.popup {
    display: none; /* 초기 상태에서 팝업을 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    height: 300px; /* 팝업 높이 설정 */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}