<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="openApi.gwon.movieList.mapper.MovieListMapper">

    <select id="findByCd" resultType="openApi.gwon.movieList.dto.MovieList.MovieListDto">
        SELECT *
        FROM MovieList
        WHERE MOVIECD = #{movieCd}
    </select>

    <select id="findAll" parameterType="string" resultType="openApi.gwon.movieList.dto.MovieList.MovieListDto">
        SELECT movieListId, movieCd, movieNm, movieNmEn, prdtYear, openDt, typeNm, prdtStatNm, nationAlt, genreAlt, repNationNm, repGenreNm, directors, companys
        FROM MovieList
    </select>

    <select id="countAllMovies" resultType="int">
        SELECT COUNT(*) FROM MovieList

    </select>

    <select id="findByMovieCd" parameterType="string" resultType="openApi.gwon.movieList.dto.MovieList.MovieListDto">
        SELECT movieListId, movieCd, movieNm, movieNmEn, prdtYear, openDt, typeNm, prdtStatNm, nationAlt, genreAlt, repNationNm, repGenreNm, directors, companys
        FROM MovieList
        WHERE movieNm = #{movieNm}
    </select>

    <insert id="insertMovies">
        INSERT INTO MovieList (
        movieListId, movieCd, movieNm, movieNmEn, prdtYear,
        openDt, typeNm, prdtStatNm, nationAlt, genreAlt,
        repNationNm, repGenreNm, directors, companys
        )
        VALUES
        <foreach collection="list" item="movie" separator=",">
        (
        #{movie.movieListId}, #{movie.movieCd}, #{movie.movieNm}, #{movie.movieNmEn}, #{movie.prdtYear},
        #{movie.openDt}, #{movie.typeNm}, #{movie.prdtStatNm}, #{movie.nationAlt}, #{movie.genreAlt},
        #{movie.repNationNm}, #{movie.repGenreNm}, #{movie.directorsJson}, #{movie.companiesJson}
        )
        </foreach>
    </insert>


    <insert id="insertDailyBoxOffice" parameterType="list">
        INSERT INTO DailyBoxOffice (
            dailyBoxOfficeId, rnum, rank, rankInten, rankOldAndNew,
            movieCd, movieNm, openDt, salesAmt, salesShare,
            salesInten, salesChange, salesAcc, audiCnt, audiInten,
            audiChange, audiAcc, scrnCnt, showCnt
        )
        VALUES
        <foreach collection="list" item="dailyBoxOffice" separator=",">
        (
        #{dailyBoxOffice.dailyBoxOfficeId}, #{dailyBoxOffice.rnum}, #{dailyBoxOffice.rank},
        #{dailyBoxOffice.rankInten}, #{dailyBoxOffice.rankOldAndNew}, #{dailyBoxOffice.movieCd},
        #{dailyBoxOffice.movieNm}, #{dailyBoxOffice.openDt}, #{dailyBoxOffice.salesAmt},
        #{dailyBoxOffice.salesShare}, #{dailyBoxOffice.salesInten}, #{dailyBoxOffice.salesChange},
        #{dailyBoxOffice.salesAcc}, #{dailyBoxOffice.audiCnt}, #{dailyBoxOffice.audiInten},
        #{dailyBoxOffice.audiChange}, #{dailyBoxOffice.audiAcc}, #{dailyBoxOffice.scrnCnt},
        #{dailyBoxOffice.showCnt}
        )
        </foreach>
    </insert>

    <select id="findByDailyBoxOfficeDt" parameterType="string" resultType="openApi.gwon.movieList.dto.DailyBoxOfficeList.DailyBoxOfficeListDto">
        SELECT
            dailyBoxOfficeId, rnum, rank, rankInten, rankOldAndNew,
            movieCd, movieNm, openDt, salesAmt, salesShare,
            salesInten, salesChange, salesAcc, audiCnt, audiInten,
            audiChange, audiAcc, scrnCnt, showCnt
        FROM DailyBoxOffice
        WHERE movieNm = #{movieNm}
    </select>


    <select id="searchMovieList" parameterType="map" resultType="openApi.gwon.movieList.dto.MovieList.MovieListDto">
        SELECT movieListId, movieCd, movieNm, movieNmEn, prdtYear, openDt, typeNm, prdtStatNm, nationAlt, genreAlt, repNationNm, repGenreNm, directors, companys
        FROM MovieList
        WHERE 1=1
        <if test="params.movieNm != null and params.movieNm != ''">
            AND movieNm LIKE CONCAT('%', #{movieNm}, '%')
        </if>
        <if test="params.directorName != null and params.directorName != ''">
            AND directorsJson LIKE CONCAT('%', #{directorName}, '%')
        </if>
        <if test="params.prdtYear != null and params.prdtYear != ''">
            AND prdtYear = #{prdtYear}
        </if>
        <if test="params.openDtStart != null and params.openDtStart != ''">
            AND openDt >= #{openDtStart}
        </if>
        <if test="params.openDtEnd != null and params.openDtEnd != ''">
            AND openDt <![CDATA[ <= ]]> #{openDtEnd}
        </if>
        ORDER BY openDt DESC
        LIMIT #{params.limit} OFFSET #{params.offset}
    </select>

    <select id="countMovies" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM MovieList
        WHERE 1=1
        <if test="params.movieNm != null and params.movieNm != ''">
            AND movieNm LIKE CONCAT('%', #{movieNm}, '%')
        </if>
        <if test="params.directorName != null and params.directorName != ''">
            AND directorsJson LIKE CONCAT('%', #{directorName}, '%')
        </if>
        <if test="params.prdtYear != null and params.prdtYear != ''">
            AND prdtYear = #{prdtYear}
        </if>
        <if test="params.openDtStart != null and params.openDtStart != ''">
            AND openDt >= #{openDtStart}
        </if>
        <if test="params.openDtEnd != null and params.openDtEnd != ''">
            AND openDt <![CDATA[ <= ]]> #{openDtEnd}
        </if>
    </select>



</mapper>