<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="openApi.gwon.movieList.mapper.MovieDetailMapper">

    <!-- movieDetail 테이블에 데이터 삽입 -->
    <insert id="saveMovieDetail" parameterType="openApi.gwon.movieList.dto.movieDetail.MovieDetailDto">
        INSERT INTO MovieDetails (movieCd, movieNm, movieNmEn, movieNmOg, prdtYear, showTm, openDt, prdtStatNm, typeNm, nationNm, genreNm)
        VALUES (#{movieCd}, #{movieNm}, #{movieNmEn}, #{movieNmOg}, #{prdtYear}, #{showTm}, #{openDt}, #{prdtStatNm}, #{typeNm}, #{nationNm}, #{genreNm})
    </insert>

    <!-- saveActor 테이블에 데이터 삽입 -->
    <insert id="saveActor" parameterType="openApi.gwon.movieList.dto.movieDetail.Actor">
        INSERT INTO Actors (movieCd, peopleNm, peopleNmEn, castName, castEn)
        VALUES (#{movieCd}, #{peopleNm}, #{peopleNmEn}, #{castName}, #{castEn})
    </insert>

    <!-- Company 테이블에 데이터 삽입 -->
    <insert id="saveCompany" parameterType="openApi.gwon.movieList.dto.movieDetail.Company">
        INSERT INTO Companies (movieCd, companyCd, companyNm, companyNmEn, companyPartNm)
        VALUES (#{movieCd}, #{companyCd}, #{companyNm}, #{companyNmEn}, #{companyPartNm})
    </insert>

    <!-- ShowType 테이블에 데이터 삽입 -->
    <insert id="saveShowType" parameterType="openApi.gwon.movieList.dto.movieDetail.ShowType">
        INSERT INTO ShowTypes (movieCd, showTypeGroupNm, showTypeNm, auditNo, watchGradeNm)
        VALUES (#{movieCd}, #{showTypeGroupNm}, #{showTypeNm}, #{auditNo}, #{watchGradeNm})
    </insert>

    <!-- Staff 테이블에 데이터 삽입 -->
    <insert id="saveStaff" parameterType="openApi.gwon.movieList.dto.movieDetail.Staff">
        INSERT INTO Staffs (movieCd, peopleNm, peopleNmEn, staffRoleNm)
        VALUES (#{movieCd}, #{peopleNm}, #{peopleNmEn}, #{staffRoleNm})
    </insert>


    <!--영화 상세정보 조회 -->
    <select id="findMovieDetailByMovieCd" parameterType="String" resultMap="movieDetailResultMap">
        SELECT
            md.movieCd, md.movieNm, md.movieNmEn, md.movieNmOg, md.prdtYear, md.showTm, md.openDt, md.prdtStatNm, md.typeNm, md.nationNm, md.genreNm,
            a.peopleNm AS actorPeopleNm, a.peopleNmEn AS actorPeopleNmEn, a.castName, a.castEn,
            c.companyCd, c.companyNm, c.companyNmEn, c.companyPartNm,
            st.showTypeGroupNm, st.showTypeNm, st.auditNo, st.watchGradeNm,
            sf.peopleNm AS staffPeopleNm, sf.peopleNmEn AS staffPeopleNmEn, sf.staffRoleNm
         FROM MovieDetails md
         LEFT JOIN Actors a ON md.movieCd = a.movieCd
         LEFT JOIN Companies c ON md.movieCd = c.movieCd
         LEFT JOIN ShowTypes st ON md.movieCd = st.movieCd
         LEFT JOIN Staffs sf ON md.movieCd = sf.movieCd
         WHERE md.movieCd = #{movieCd}
    </select>

    <!-- 영화 상세정보  resultMap-->
    <resultMap id="movieDetailResultMap" type="openApi.gwon.movieList.dto.movieDetail.MovieDetailDto">
        <id property="movieCd" column="movieCd"/>
        <result property="movieNm" column="movieNm"/>
        <result property="movieNmEn" column="movieNmEn"/>
        <result property="movieNmOg" column="movieNmOg"/>
        <result property="prdtYear" column="prdtYear"/>
        <result property="showTm" column="showTm"/>
        <result property="openDt" column="openDt"/>
        <result property="prdtStatNm" column="prdtStatNm"/>
        <result property="typeNm" column="typeNm"/>
        <result property="nationNm" column="nationNm"/>
        <result property="genreNm" column="genreNm"/>

        <collection property="actors" ofType="openApi.gwon.movieList.dto.movieDetail.Actor">
            <id property="peopleNm" column="actorPeopleNm"/>
            <result property="peopleNmEn" column="actorPeopleNmEn"/>
            <result property="castName" column="castName"/>
            <result property="castEn" column="castEn"/>
            <result property="movieCd" column="movieCd"/>
        </collection>

        <collection property="companies" ofType="openApi.gwon.movieList.dto.movieDetail.Company">
            <id property="companyCd" column="companyCd"/>
            <result property="companyNm" column="companyNm"/>
            <result property="companyNmEn" column="companyNmEn"/>
            <result property="companyPartNm" column="companyPartNm"/>
            <result property="movieCd" column="movieCd"/>
        </collection>

        <collection property="showTypes" ofType="openApi.gwon.movieList.dto.movieDetail.ShowType">
            <id property="showTypeGroupNm" column="showTypeGroupNm"/>
            <result property="showTypeNm" column="showTypeNm"/>
            <result property="auditNo" column="auditNo"/>
            <result property="watchGradeNm" column="watchGradeNm"/>
            <result property="movieCd" column="movieCd"/>
        </collection>

        <collection property="staffs" ofType="openApi.gwon.movieList.dto.movieDetail.Staff">
            <id property="peopleNm" column="staffPeopleNm"/>
            <result property="peopleNmEn" column="staffPeopleNmEn"/>
            <result property="staffRoleNm" column="staffRoleNm"/>
            <result property="movieCd" column="movieCd"/>
        </collection>
    </resultMap>




</mapper>
